{{#if product}}
    {{#each product}}
        <div class="media">
            <img src="{{this.item.imagePath}}" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{this.item.title}}</h5>
                {{this.item.description}}
                <div>
                    {{this.item.price}}
                </div>
               </div>
            </div>
            <br> 
            <br>
    {{/each}}


<h5>Total: <span class="badge badge-secondary">{{total}}</span></h5>
<button class="btn btn-success"> Checkout</button>
{{else}}
<h1> No item in the cart</h1>
{{/if}}

